*.tar
*~
/*.tar.bz2
/*.tar.gz
/*.tar.gz.sig
/.history_test
/Build
/ChangeLog
/META.json
/MYMETA.json
/MYMETA.yml
/Makefile
/Makefile.PL
/Makefile.old
/_build
/blib
/how-to-make-a-release.txt
/pm_to_blib
/testall.sh
pod2htmd.tmp
pod2htmi.tmp
